<div class="app">
  <nav class="main-nav">
    <h1 class="logo">
      <a href>
        <img src="/logo.svg" alt="Ember Library">
        <span class="sr-only">Ember Library</span>
      </a>
    </h1>
  </nav>
</div>

{{outlet}}
